<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	
	<% include templates/header.ejs %>
	
	<h3><%= title %></h3>
	
	<p> Hi, my name is <%= name %>. I bought pineapple Pizza.</p>
	
  </body>
</html>
